<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <title>Secret generator page</title>
</head>
<body>
<div th:insert="~{fragments/header.html::header}"></div>
<form method="post" th:action="@{/secret-generate}" th:object="${secretDto}">
  <input id="secret" placeholder="Enter your secret" required th:field="*{secret}" type="text"/>
  <input type="submit" value="Save">
</form>
<div th:if="${secretUrl != null}" th:text="${secretUrl}"></div>
<div th:if="${secretFromUser != null}" th:text="'Secret was generatd by: ' + ${secretFromUser}">
</div>
<div th:if="${secret != null}" th:text="'Secret is: ' + ${secret}"></div>
<div th:if="${secretError != null}" th:text="${secretError}"></div>
<p>Click <a th:href="@{/}">here</a> to return back</p>
</body>
</html>